* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0F3057;
}

#home {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1.4rem;
}

#statisc {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 1.4rem;
}

.titulli {
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.questionare {
    display: flex;
    justify-content: center;
}

.bordForm {
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    height: 80vh;
    padding: 70px;
}

label {
    font-weight: 600;
}

.inpA {
    border-radius: 50px;
}

input[type=text] {
    background-color: rgb(221, 221, 221);
}

input[type=text]:focus {
    background-color: rgb(221, 221, 221);
}