@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: 1px solid black; */
}

body {
	font-family: "Poppins", sans-serif;
}

.body-containter {
	display: flex;
	width: 85%;
	flex-direction: column;
	align-self: center;
}

.main-container {
	display: flex;
	/* border: 1px solid black; */
	align-items: center;
	justify-content: center;
	height: 90vh;
	position: relative;
}

.area-navbar {
	display: flex;
	justify-content: space-between;
}

#userIcon {
	padding: 1% 5% 1% 5%;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: row;
	/* margin-top: 1%; */
	justify-content: space-between;
}

#userIcon li a {
	font-size: 12px;
}

#logo {
	width: 15%;
	position: absolute;
	top: 0;
	left: 0;
}

#navbari {
	/* background-color: rgba(15, 47, 87, 0.4); */
	padding: 1% 5% 1% 5%;
	font-size: 20px;
	/* margin-top: 1%; */
}

@media (min-width: 768px) {
	#navbari {
		margin-left: 30%;
	}
}

.hidden {
	visibility: hidden;
}

#navbari li a {
	color: rgb(1, 40, 80);
	font-size: 1.8rem;
	/* color: #444; */
	margin-bottom: 10px;
	font-weight: bold;
	/* margin-left: 2px; */
}

#navbari li a:after {
	content: "";
	display: block;
	width: 100%;
	border-bottom: 2px solid rgb(1, 40, 80);
	transition: 0.5s;
}

#navbari li a:hover {
	color: rgba(15, 47, 87, 0.5);
}

li a :hover {
	color: rgba(15, 47, 87, 0.5);
}

ul {
	/* border: 1px solid white; */
}

#signUp {
	background-color: rgb(1, 40, 80);
	color: white;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	transition: 0.5s;
	margin-left: 5px;
}

#logIn {
	border: 1px solid rgb(1, 40, 80);
	color: rgb(1, 40, 80);
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	transition: 0.5s;
}

#logIn:hover {
	color: white;
	background-color: rgb(1, 40, 80);
	border-radius: 5px;
}

#signUp:hover {
	background-color: white;
	color: rgb(1, 40, 80);
	/* border: solid rgb(1, 40, 80); */
	/* */
}

#button-explore {
	background-color: rgb(1, 40, 80);
	position: relative;
	text-align: center;
	transition: 0.6s;
	padding-right: 20%;
	padding-left: 20%;
	padding-top: 3%;
	padding-bottom: 3%;
}

#button-explore:hover {
	color: rgb(1, 40, 80);
	border: none;
	border-bottom: 2px solid rgb(1, 40, 80);
	background: white;
	/* border: 2px solid rgb(1, 40, 80); */
}

.area-content {
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 60%;
}

.area-image {
	position: absolute;
	width: 80%;
	z-index: -1;
	opacity: 60%;
}

.h1-size {
	font-size: 5vw;
}

.font-size {
	font-size: calc(14px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.area-title {
	display: flex;
	justify-items: flex-end;
	width: 100%;
}

.area-text {
	justify-content: center;
	opacity: 100%;
}

.area-button {
	display: flex;
	width: 50%;
	padding: 20px;
	justify-content: center;
}

.area-navbar {
	display: flex;
	width: 100%;
}

.area-icons {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.area-images {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.area-informations {
	padding: 40px 0 40px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.card-body {
	display: flex;
	justify-content: center;
}

.card-body img {
	width: auto;
	height: 300px;
}

#globi {
	background-image: url('../img/globi.png');
	background-size: 30%;
	background-repeat: no-repeat;
}

#home, #activites, #forms {
	color: rgb(1, 40, 80);
	/*text-decoration: underline;*/
	font-size: 40px;
	vertical-align: top;
	top: 30px;
	position: relative;
}

#h1 {
	color: rgb(1, 40, 80);
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
}

/*.foto{
    top: -200px;
}*/

.card {
	background-color: rgb(1, 40, 80);
	justify-content: center;
	float: none;
}

.card-title {
	text-align: center;
	color: white;
}

/*footer*/

.footer {
	font-family: "poppins";
	background-color: rgb(1, 40, 80);
	color: #d3d3d3;
	height: 35vh;
	position: relative;
	width: 100%;
	padding: 25px;
}

.area-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.area-footer div h4 {
	font-family: 'Poppins';
}

.area-footer div h4 p i {
	font-family: 'Poppins';
}

.media-area {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.media-area img {
	width: 25px;
	height: 25px;
	margin-right: 2%;
}

.footer-logo {
	width: 150px;
}

#logOut {
	font-size: 30px;
	color: rgb(1, 40, 80);
	padding-left: 10px;
}

.footer h4 {
	text-align: left;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.footer h4:after {
	content: "";
	display: block;
	width: 60%;
	border-bottom: 2px solid white;
}

.footer p {
	text-align: justify;
}

.footer .row .fa {
	/* padding-right: 20px; */
}

.footer hr {
	background: #efefef
}

.fa-heart {
	color: #f44336;
}

.footer .copyright {
	text-align: center;
}

:root {
	--color: #3c3163;
	--transition-time: 0.5s;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

.cards-wrapper {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	padding: 4rem;
	margin: 0 auto;
	width: max-content;
}

.card {
	/* font-family: 'Heebo'; */
	--bg-filter-opacity: 0.5;
	background-image: linear-gradient( -45deg, #0F3057 0%, #0F3054 100%);
	height: 10em;
	width: 12em;
	font-size: 1.5em;
	color: white;
	border-radius: 1em;
	padding: 1em;
	/*margin: 2em;*/
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 3em -1em #0F3054;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 10px solid white;
	text-decoration: none;
}

.card:hover {
	transform: rotate(0);
}

.card h1 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.2em;
}

.card p {
	font-size: 0.75em;
	/* font-family: 'Open Sans';
 */
	margin-top: 0.5em;
	line-height: 2em;
}

.card li {
	font-size: 0.7em;
}

.card .tags {
	display: flex;
}

.card .tags .tag {
	font-size: 0.75em;
	/* background: rgba(255, 255, 255, 0.5); */
	border-radius: 0.3rem;
	padding: 0 0.5em;
	margin-right: 0.5em;
	line-height: 1.5em;
	transition: all, var(--transition-time);
}

.card:hover .tags .tag {
	background: var(--color);
	color: white;
}

.card .date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.75em;
	padding: 1.1em;
	line-height: 1em;
	opacity: .8;
}

.card:before, .card:after {
	content: '';
	transform: scale(0);
	transform-origin: top left;
	border-radius: 50%;
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: -5;
	transition: all, var(--transition-time);
	transition-timing-function: ease-in-out;
}

.card:before {
	background: #ddd;
	width: 250%;
	height: 250%;
}

.card:after {
	background: white;
	width: 200%;
	height: 200%;
}

.card:hover {
	/* color: var(--color); */
	color: #0F3054;
	border: 10px solid #0F3054;
}

.card:hover:before, .card:hover:after {
	transform: scale(1);
}

.card-grid-space .num {
	font-size: 3em;
	margin-bottom: 1.2rem;
	margin-left: 1rem;
}

.info {
	font-size: 1.2em;
	display: flex;
	padding: 1em 3em;
	height: 3em;
}

.info img {
	height: 3em;
	margin-right: 0.5em;
}

.info h1 {
	font-size: 1em;
	font-weight: normal;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
	.cards-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1000px) {
	.cards-wrapper {
		grid-template-columns: 1fr;
	}
	.info {
		justify-content: center;
	}
	.card-grid-space .num {
		margin-left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.cards-wrapper {
		padding: 4rem 2rem;
	}
	.card {
		max-width: calc(100vw - 4rem);
	}
}

@media screen and (max-width: 450px) {
	.info {
		display: block;
		text-align: center;
	}
	.info h1 {
		margin: 0;
	}
}

#userIcon li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	/* @import url('https://fonts.googleapis.com/css?family=Heebo:400,700%7COpen+Sans:400,700'); */
}

:root {
	--color: #3c3163;
	--transition-time: 0.5s;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

.cards-wrapper {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4rem;
	padding: 4rem;
	margin: 0 auto;
	width: max-content;
}

.card {
	/* font-family: 'Heebo'; */
	--bg-filter-opacity: 0.5;
	background-image: linear-gradient( -45deg, #0F3057 0%, #0F3054 100%);
	height: 12em;
	width: 17em;
	font-size: 1.5em;
	color: white;
	border-radius: 1em;
	padding: 1em;
	/*margin: 2em;*/
	display: flex;
	align-items: flex-end;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 3em -1em #0F3054;
	transition: all, var(--transition-time);
	position: relative;
	overflow: hidden;
	border: 10px solid white;
	text-decoration: none;
}

.card:hover {
	transform: rotate(0);
}

.card h1 {
	margin: 0;
	font-size: 1.5em;
	line-height: 1.2em;
}

.card p {
	font-size: 0.75em;
	/* font-family: 'Open Sans';
 */
	margin-top: 0.5em;
	line-height: 2em;
}

.card li {
	font-size: 0.7em;
}

.card .tags {
	display: flex;
}

.card .tags .tag {
	font-size: 0.75em;
	/* background: rgba(255, 255, 255, 0.5); */
	border-radius: 0.3rem;
	padding: 0 0.5em;
	margin-right: 0.5em;
	line-height: 1.5em;
	transition: all, var(--transition-time);
}

.card:hover .tags .tag {
	background: var(--color);
	color: white;
}

.card .date {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 0.75em;
	padding: 1em;
	line-height: 1em;
	opacity: .8;
}

.card:before, .card:after {
	content: '';
	transform: scale(0);
	transform-origin: top left;
	border-radius: 50%;
	position: absolute;
	left: -50%;
	top: -50%;
	z-index: -5;
	transition: all, var(--transition-time);
	transition-timing-function: ease-in-out;
}

.card:before {
	background: #ddd;
	width: 250%;
	height: 250%;
}

.card:after {
	background: white;
	width: 200%;
	height: 200%;
}

.card:hover {
	/* color: var(--color); */
	color: #0F3054;
	border: 10px solid #0F3054;
}

.card:hover:before, .card:hover:after {
	transform: scale(1);
}

.card-grid-space .num {
	font-size: 3em;
	margin-bottom: 1.2rem;
	margin-left: 1rem;
}

.info {
	font-size: 1.2em;
	display: flex;
	padding: 1em 3em;
	height: 3em;
}

.info img {
	height: 3em;
	margin-right: 0.5em;
}

.info h1 {
	font-size: 1em;
	font-weight: normal;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1285px) {
	.cards-wrapper {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 1000px) {
	.cards-wrapper {
		grid-template-columns: 1fr;
	}
	.info {
		justify-content: center;
	}
	.card-grid-space .num {
		margin-left: 0;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.cards-wrapper {
		padding: 4rem 2rem;
	}
	.card {
		max-width: calc(100vw - 4rem);
	}
	.area-footer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		/* height: 50vh; */
		/* background-color: #0F3057; */
	}
	.footer {
		height: 75vh;
	}
}

@media screen and (max-width: 450px) {
	.info {
		display: block;
		text-align: center;
	}
	.info h1 {
		margin: 0;
	}
}

#userIcon li {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
}

/* @media only screen and (max-width: 900px) {
    #navbari {
        width: 80%;
        display: flex;
        justify-content: center;
    }
} */