.area-navbar {
    display: flex;
    justify-content: space-between;
}

#userIcon {
    padding: 1% 5% 1% 5%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* margin-top: 1%; */
    justify-content: space-between;
}

#userIcon li a {
    font-size: 12px;
}

#logo {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
}

#navbari {
    /* background-color: rgba(15, 47, 87, 0.4); */
    padding: 1% 5% 1% 5%;
    font-size: 20px;
    /* margin-top: 1%; */
}

@media (min-width: 768px) {
    #navbari {
        margin-left: 30%;
    }
}

.hidden {
    visibility: hidden;
}

#navbari li a {
    color: rgb(1, 40, 80);
    font-size: 1.8rem;
    /* color: #444; */
    margin-bottom: 10px;
    font-weight: bold;
    /* margin-left: 2px; */
}

#navbari li a:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid rgb(1, 40, 80);
    transition: 0.5s;
}

#navbari li a:hover {
    color: rgba(15, 47, 87, 0.5);
}

#logOut {
    font-size: 30px;
    color: rgb(1, 40, 80);
    padding-left: 10px;
}

#logIn {
    border: 1px solid rgb(1, 40, 80);
    color: rgb(1, 40, 80);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
}

#logIn:hover {
    color: white;
    background-color: rgb(1, 40, 80);
    border-radius: 5px;
}

#userIcon {
    padding: 1% 5% 1% 5%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* margin-top: 1%; */
    justify-content: space-between;
}

#userIcon li a {
    font-size: 12px;
}

#userIcon li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    /* @import url('https://fonts.googleapis.com/css?family=Heebo:400,700%7COpen+Sans:400,700'); */
}